@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --hover-color: #fae0e4;
  --main-color: #001233;
  --second-color: #d62828;
  --third-color: #ffffff;
  --forth-color: #33415c;
  --p-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 5rem;
  color: var(--main-color);
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--forth-color);
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

a,
p {
  font-size: 1.8rem;
  color: var(--p-color);
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
}

header,
section {
  padding: 2rem 5%;
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 2px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo a {
  align-items: center;
  display: flex;
  color: var(--second-color);
  font-size: 2.7rem;
  font-family: "Fredoka One", cursive;
}

.logo a span {
  color: var(--main-color);
}

.logo i {
  margin-right: 0.2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  padding: 0 2rem;
  font-weight: 500;
  transition: all 0.4s linear;
}

.navbar a:hover {
  color: var(--second-color);
  text-shadow: 0px 1px 2px var(--hover-color);
}

#nav-menu {
  font-size: 2.8rem;
  color: var(--p-color);
  display: none;
}

/* Home Section Here */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  height: calc(100vh - 9rem);
  flex-wrap: wrap;
}

.home-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.home-left h1 {
  margin-bottom: 1rem;
}

.home-left p {
  margin-bottom: 5rem;
}

.home-action {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;
}

.home-action a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.home-action .order {
  background-color: var(--second-color);
  color: var(--hover-color);
  border: 1px solid var(--second-color);
  transition: all 0.3s linear;
  box-shadow: 0px 2px 2px #a3a3a3;
}

.home-action .order:hover {
  background-color: var(--hover-color);
  color: var(--p-color);
  border: 1px solid var(--hover-color);
  box-shadow: 0px 2px 2px #a3a3a3;
}

.home-action .video {
  border: 1px solid var(--hover-color);
  transition: all 0.3s linear;
}
.home-action .video:hover {
  background-color: var(--hover-color);
  color: var(--p-color);
  border: 1px solid var(--hover-color);
  box-shadow: 0px 2px 2px #a3a3a3;
}

.home-action a > i {
  margin-right: 0.8rem;
  font-size: 3rem;
}

.home-info {
  display: flex;
  justify-content: space-between;
  gap: 2.2rem;
  margin-top: 3rem;
}

.home-info-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.home-info-1 img {
  width: 5rem;
}

.home-right img {
  /* text-align: center; */
  animation: bounce 3s infinite linear;
  max-width: 100%;
  width: 65rem;
  height: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* menu catogery section here */

.catogery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.sub-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid var(--hover-color);
  padding: 3rem 8rem;
  transition: all 0.4s linear;
}

.sub-menu img {
  width: 11rem;
  transition: all 0.4s linear;
}

.sub-menu h3 {
  font-weight: 600;
}

.sub-menu:hover > h3 {
  color: var(--second-color);
}

.sub-menu:hover > img {
  transform: scale(1.03);
}

/* promo section here */

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.sub-promo {
  display: flex;
  align-items: center;
  border: 2px solid var(--hover-color);
  justify-content: space-between;
  transition: all 0.4s linear;
  padding: 3rem;
  gap: 2rem;
}

.promo1 {
  background-color: var(--third-color);
}

.promo2 {
  background-color: var(--hover-color);
}

.promo3 {
  background-color: var(--third-color);
}

.sub-promo-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 15rem;
  transition: all 0.4s linear;
}

.sub-promo-img img {
  width: 17rem;
  transition: all 0.4s linear;
}

.sub-promo-info h3 {
  font-weight: 600;
}

.sub-promo:hover > .sub-promo-img img {
  transform: scale(1.03);
}

/* Latest menu here */

.latest-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-top: 5rem;
}

.latest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.menu-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid var(--hover-color);
  gap: 4rem;
  padding: 3rem 2rem;
  transition: all 0.4s linear;
  position: relative;
  overflow-x: hidden;
}

.menu-info img {
  width: 8rem;
  transition: all 0.4s linear;
}

.menu-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 5rem;
}

.menu-details a {
  color: var(--second-color);
  font-size: 1.5rem;
}

.menu-details a:hover {
  color: var(--forth-color);
}

.menu-btn {
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.menu-btn a i {
  background-color: var(--hover-color);
  border-radius: 20%;
  font-size: 2rem;
  font-size: 2.3rem;
  padding: 0.3rem 0.5rem;
}

.menu-btn a i:hover {
  color: var(--second-color);
}

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home-right img {
    max-width: 100%;
    width: 35rem;
    height: auto;
  }
  .menu {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .home {
    padding-top: 6rem;
    justify-content: center;
  }

  #nav-menu {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background-color: var(--main-color);
    transition: 0.3s linear;
    flex-direction: column;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  nav a {
    margin: 1rem;
    color: var(--third-color);
    font-size: 2rem;
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .sub-menu {
    padding: 3rem 5rem;
  }
  .sub-menu img {
    width: 10rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .logo a {
    font-size: 3rem;
  }
  .sub-menu {
    padding: 1.5rem 2rem;
  }
}
